.card {
    width: 500px;
    margin: 0px auto 20px;
    padding: 10px;
    background: #fff;
}
.root {
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
}
.gridList {
    width: 500;
    height: 450;
}